<?xml version="1.0" encoding="UTF-8"?>

<menuTematici>
	<menuTematico>
		<nome>Pesce</nome>
		<stagione>Primavera</stagione>
			<piatti>
				<piatto>Pasta ragu</piatto>
				<piatto>Pasta al pesto</piatto>
			</piatti>
	</menuTematico>
	<menuTematico>
		<nome>Montagna</nome>
		<stagione>Primavera</stagione>
		<piatti>
			<piatto>Risotto funghi porcini</piatto>
			<piatto>Pasta ragu</piatto>
		</piatti>
	</menuTematico>
</menuTematici>

		
		
	


			
			
			
		