<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menuTematici>
                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <nome>Pesce</nome>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <stagione>Primavera</stagione>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <stagione>Autunno</stagione>
                                                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        </disponibilità>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <piatti>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <piatto>Pasta ragu</piatto>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <piatto>Risotto funghi</piatto>
                                                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        </piatti>
                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    </menuTematico>
                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <nome>montagna</nome>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <stagione>INVERNO</stagione>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <stagione>AUTUNNO</stagione>
                                                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        </disponibilità>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <piatti>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <piatto>Pasta ragu</piatto>
                                                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        </piatti>
                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    </menuTematico>
                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <nome>prova</nome>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <stagione>INVERNO</stagione>
                                                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        </disponibilità>
                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        
        <piatti>
                                                                                                                                                                        
            
            
            
            
            
            
            
            
            
            
            
            
            <piatto>risotto funghi</piatto>
                                                                                                                                                                    
        
        
        
        
        
        
        
        
        
        
        
        
        </piatti>
                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    </menuTematico>
                                                        

    
    
    
    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        <nome>sium's special</nome>
                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                                                                            
            
            
            
            
            
            
            
            
            
            
            
            <stagione>PRIMAVERA</stagione>
                                                                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        </disponibilità>
                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        <piatti>
                                                                                                                                                            
            
            
            
            
            
            
            
            
            
            
            
            <piatto>casoncelli burro e salvia</piatto>
                                                                                                                                                            
            
            
            
            
            
            
            
            
            
            
            
            <piatto>risotto funghi</piatto>
                                                                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        </piatti>
                                                                                                    
    
    
    
    
    
    
    
    
    
    
    
    </menuTematico>
                                                
    
    
    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                                                
        
        
        
        
        
        
        
        
        
        
        <nome>seh estathe</nome>
                                                                                                
        
        
        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                                                                
            
            
            
            
            
            
            
            
            
            
            <stagione>ESTATE</stagione>
                                                                                                                                            
        
        
        
        
        
        
        
        
        
        
        </disponibilità>
                                                                                                
        
        
        
        
        
        
        
        
        
        
        <piatti>
                                                                                                                                                
            
            
            
            
            
            
            
            
            
            
            <piatto>fegato d'anatra all'arancia</piatto>
                                                                                                                                            
        
        
        
        
        
        
        
        
        
        
        </piatti>
                                                                                            
    
    
    
    
    
    
    
    
    
    
    </menuTematico>
                                            
    
    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                                        
        
        
        
        
        
        
        
        
        
        <nome>gaina</nome>
                                                                                        
        
        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                                                    
            
            
            
            
            
            
            
            
            
            <stagione>ESTATE</stagione>
                                                                                                                                
        
        
        
        
        
        
        
        
        
        </disponibilità>
                                                                                        
        
        
        
        
        
        
        
        
        
        <piatti>
                                                                                                                                    
            
            
            
            
            
            
            
            
            
            <piatto>fegato d'anatra all'arancia</piatto>
                                                                                                                                    
            
            
            
            
            
            
            
            
            
            <piatto>casoncelli burro e salvia</piatto>
                                                                                                                                
        
        
        
        
        
        
        
        
        
        </piatti>
                                                                                    
    
    
    
    
    
    
    
    
    
    </menuTematico>
                                    
    
    
    
    
    
    
    
    
    <menuTematico>
                                                                        
        
        
        
        
        
        
        
        <nome>GALLO</nome>
                                                                        
        
        
        
        
        
        
        
        <disponibilità>
                                                                                                            
            
            
            
            
            
            
            
            <stagione>PRIMAVERA</stagione>
                                                                                                        
        
        
        
        
        
        
        
        </disponibilità>
                                                                        
        
        
        
        
        
        
        
        <piatti>
                                                                                                            
            
            
            
            
            
            
            
            <piatto>Pasta ragu</piatto>
                                                                                                        
        
        
        
        
        
        
        
        </piatti>
                                                                    
    
    
    
    
    
    
    
    </menuTematico>
                                
    
    
    
    
    
    
    
    <menuTematico>
                                                                
        
        
        
        
        
        
        <nome>R	</nome>
                                                                
        
        
        
        
        
        
        <disponibilità>
                                                                                                
            
            
            
            
            
            
            <stagione>AUTUNNO</stagione>
                                                                                            
        
        
        
        
        
        
        </disponibilità>
                                                                
        
        
        
        
        
        
        <piatti>
                                                                                                
            
            
            
            
            
            
            <piatto>risotto funghi</piatto>
                                                                                            
        
        
        
        
        
        
        </piatti>
                                                            
    
    
    
    
    
    
    </menuTematico>
                            
    
    
    
    
    
    
    <menuTematico>
                                                        
        
        
        
        
        
        <nome>FFGFHG</nome>
                                                        
        
        
        
        
        
        <disponibilità>
                                                                                    
            
            
            
            
            
            <stagione>AUTUNNO</stagione>
                                                                                
        
        
        
        
        
        </disponibilità>
                                                        
        
        
        
        
        
        <piatti>
                                                                                    
            
            
            
            
            
            <piatto>Pasta ragu</piatto>
                                                                                
        
        
        
        
        
        </piatti>
                                                    
    
    
    
    
    
    </menuTematico>
                        
    
    
    
    
    
    <menuTematico>
                                                
        
        
        
        
        <nome>FFGFHG</nome>
                                                
        
        
        
        
        <disponibilità>
                                                                        
            
            
            
            
            <stagione>AUTUNNO</stagione>
                                                                    
        
        
        
        
        </disponibilità>
                                                
        
        
        
        
        <piatti>
                                                                        
            
            
            
            
            <piatto>Pasta ragu</piatto>
                                                                        
            
            
            
            
            <piatto>risotto funghi</piatto>
                                                                    
        
        
        
        
        </piatti>
                                            
    
    
    
    
    </menuTematico>
                    
    
    
    
    
    <menuTematico>
                                        
        
        
        
        <nome>FFGFHG</nome>
                                        
        
        
        
        <disponibilità>
                                                            
            
            
            
            <stagione>AUTUNNO</stagione>
                                                        
        
        
        
        </disponibilità>
                                        
        
        
        
        <piatti>
                                                            
            
            
            
            <piatto>Pasta ragu</piatto>
                                                            
            
            
            
            <piatto>risotto funghi</piatto>
                                                            
            
            
            
            <piatto>fegato d'anatra all'arancia</piatto>
                                                        
        
        
        
        </piatti>
                                    
    
    
    
    </menuTematico>
                
    
    
    
    <menuTematico>
                                
        
        
        <nome>FFGFHG</nome>
                                
        
        
        <disponibilità>
                                                
            
            
            <stagione>AUTUNNO</stagione>
                                            
        
        
        </disponibilità>
                                
        
        
        <piatti>
                                                
            
            
            <piatto>Pasta ragu</piatto>
                                                
            
            
            <piatto>risotto funghi</piatto>
                                                
            
            
            <piatto>fegato d'anatra all'arancia</piatto>
                                            
        
        
        </piatti>
                            
    
    
    </menuTematico>
            
    
    
    <menuTematico>
                        
        
        <nome>FFGFHG</nome>
                        
        
        <disponibilità>
                                    
            
            <stagione>AUTUNNO</stagione>
                                
        
        </disponibilità>
                        
        
        <piatti>
                                    
            
            <piatto>Pasta ragu</piatto>
                                    
            
            <piatto>risotto funghi</piatto>
                                    
            
            <piatto>fegato d'anatra all'arancia</piatto>
                                
        
        </piatti>
                    
    
    </menuTematico>
        
    
    <menuTematico>
                
        <nome>ERTYU</nome>
                
        <disponibilità>
                        
            <stagione>INVERNO</stagione>
                    
        </disponibilità>
                
        <piatti>
                        
            <piatto>casoncelli burro e salvia</piatto>
                    
        </piatti>
            
    </menuTematico>
    
    <menuTematico>
        <nome>SERTYUILKJHG</nome>
        <disponibilità>
            <stagione>INVERNO</stagione>
        </disponibilità>
        <piatti>
            <piatto>casoncelli burro e salvia</piatto>
        </piatti>
    </menuTematico>
</menuTematici>
